{% extends "_base.html" %}

{% block content %}
    <div class="flex flex-col md:flex-row dark:bg-gray-900">
        {% include 'component/dashboard.html' %}
        <div class="flex flex-col items-center justify-center px-6 py-12 w-1/2 mx-auto">

            <h1 class="text-3xl font-bold mb-8 text-primary-600 dark:text-primary-400">
                {{ user.username }} tags following
            </h1>

            <h2 class="text-2xl font-semibold mt-6 mb-4 text-primary-700 dark:text-primary-300">Tags</h2>
            <ul class="space-y-4 w-full md:w-3/4">
                {% for tag in tags %}
                    <li class="bg-white shadow-lg border-2 border-gray-200 rounded-lg p-6 dark:bg-gray-800 dark:text-white hover:shadow-xl transition-shadow duration-200 ease-in-out">
                        <a class="text-lg font-medium hover:text-primary-600 dark:hover:text-primary-400" href="{% url 'posts:tag_posts' tag.id %}">
                            {{ tag }}
                        </a>
                    </li>
                {% empty %}
                    <li class="text-gray-500 dark:text-gray-400 text-lg">No followers yet.</li>
                {% endfor %}
            </ul>
        

        </div>
    </div>
{% endblock %}
