<!-- tag_posts.html -->
{% extends "_base.html" %}

{% block content %}
    <div class="flex flex-col items-center px-8 py-8 w-full mx-auto max-w-4xl">
    
        <h1 class="text-4xl font-extrabold text-primary-800 mb-8">Tag: "{{ tag.name }}"</h1>

        <!-- Follow/Unfollow Tag -->
        {% if request.user.is_authenticated %}
            {% if is_following_tag %}
                <form method="post" action="{% url 'posts:unfollow_tag' tag.id %}">
                    {% csrf_token %}
                    <button type="submit" class="px-4 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-900">
                        Unfollow
                    </button>
                </form>
            {% else %}
                <form method="post" action="{% url 'posts:follow_tag' tag.id %}">
                    {% csrf_token %}
                    <button type="submit" class="px-4 py-2 bg-primary-700 text-white rounded-lg hover:bg-primary-900">
                        Follow
                    </button>
                </form>
            {% endif %}
        {% endif %}

        <!-- Display posts for the tag -->
        <section class="w-full mt-8">
            <h2 class="text-3xl font-semibold text-primary-700 mb-6">Posts</h2>
            {% if posts %}
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
                    {% for post in posts %}
                        <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
                            {% if post.featured_image %}
                                <img src="{{ post.featured_image.url }}" alt="{{ post.title }}" class="w-full h-48 object-cover">
                            {% endif %}
                            <div class="p-4">
                                <a href="{% url 'posts:other_user_detail_post' post.id %}" class="text-primary-600 hover:text-primary-800 font-semibold text-lg">
                                    {{ post.title }}
                                </a>
                                <p class="text-gray-600 mt-2">
                                    {{ post.content|slice:":100" }}...
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-gray-600">No posts found for this tag.</p>
            {% endif %}
        </section>
    </div>
{% endblock %}
