{% extends "_base.html" %}
{% load form_filters %}

{% block content %}
    <div class="flex flex-col md:flex-row dark:bg-gray-900 min-h-screen">
        {% include 'component/dashboard.html' %}
        <div class="flex flex-col items-center justify-center px-8 py-8 w-full mx-auto space-y-8">

            {% include 'component/messages.html' %}

            <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6 w-full max-w-3xl">

                <h2 class="text-2xl font-bold text-primary-800">{{ post.title }}
                    {% if post.archived %}<span class="text-red-500">[Archived]</span>{% endif %}</h2>
                <p class="text-gray-700 dark:text-gray-300 mt-4">{{ post.content }}</p>

                {% if post.featured_image %}
                    <div class="mt-4">
                        <img class="rounded-lg w-full h-auto" src="{{ post.featured_image.url }}"
                             alt="Featured Image">
                    </div>
                {% endif %}

                {% if post.images.all %}
                    <div class="flex mt-4 space-x-4">
                        {% for image in post.images.all %}
                            <img class="rounded-lg w-32 h-32 object-cover" src="{{ image.image.url }}"
                                 alt="Image">
                        {% endfor %}
                    </div>
                {% endif %}
                {% if post.tags.exists %}
                    <div class="mt-4 flex justify-between items-center">
                        <div class="flex flex-wrap space-x-4 space-y-2 overflow-x-auto">
                            <span class="text-gray-700 dark:text-gray-400">Tags:</span>
                            {% for tag in post.tags.all|dictsort:"name" %}
                                <span class="text-primary-700 hover:bg-gray-200 p-1">
                                    <a href="{% url 'posts:tag_posts' tag.id %}" >#{{ tag.name }}</a>
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="mt-4 flex justify-between items-center">
                    <div class="flex space-x-4">
                        <span class="text-gray-700 dark:text-gray-400">{{ post.created_at|date:"F j, Y" }}</span>
                        <span class="text-gray-700 dark:text-gray-400">• {{ post.comment_set.count }} Comments</span>
                        <span class="text-gray-700 dark:text-gray-400">• {{ post.like_set.count }} Likes</span>
                        <span class="text-gray-700 dark:text-gray-400">• {{ post.dislike_set.count }} Dislikes</span>
                    </div>
                    <a href="{% url 'posts:edit_post' post.id %}"
                       class="text-primary-600 dark:text-primary-400">Edit Post</a>
                </div>
                <div class="mt-4 flex justify-between items-center">
                    <form method="post" action="{% url 'posts:user_detail_post' post.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="post_id" value="{{ post.id }}">
                        {% if request.user.is_authenticated %}
                            <button type="submit" name="like"
                                    class="btn btn-primary text-gray-700 border rounded-lg border-gray-700 p-0.5 {% if user_liked %}text-red-700{% endif %}">
                                Like
                            </button>
                            <button type="submit" name="dislike"
                                    class="btn btn-secondary text-gray-700 border rounded-lg border-gray-700 p-0.5 {% if user_disliked %}text-red-700 {% endif %}">
                                Dislike
                            </button>
                        {% else %}
                            <p>You need to be logged in to like or dislike.</p>
                        {% endif %}
                    </form>

                </div>
                <div class="mt-4 mb-4 flex justify-between items-center">
                    {% if request.user.is_authenticated %}
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ comment_form.content|add_classes:"bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" }}
                            <button name="comment"
                                    class="btn btn-primary text-white p-2 m-4 rounded-lg bg-primary-700">Add Comment
                            </button>
                        </form>
                    {% else %}
                        <p>You must be logged in to comment.</p>
                    {% endif %}
                </div>
                {% if comments %}
                    <h2 class="mb-4 text-2xl font-bold text-primary-800">Comments</h2>
                    <div class="comments">
                        {% for comment in comments %}
                            {% include 'component/comment.html' with comment=comment %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}