{% extends "_base.html" %}

{% block content %}
    <div class="flex flex-col items-center justify-center px-6 py-6 mx-auto md:h-screen lg:py-0">
        <h1 class="text-3xl text-green-800">Change password</h1>
        <form class="mt-4" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label }}
                <div class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ field }}</div>
                {% if field.errors %}
                    <p class="text-red-800">{{ field.errors }}</p>
                {% endif %}
            {% endfor %}
            <button class="btn btn-primary p-2 m-2 rounded-lg bg-primary-200" type="submit">Submit</button>
        </form>
    </div>
{% endblock content %}