{% extends "_base.html" %}
{% load form_filters %}

{% block content %}
    <div class="flex flex-col md:flex-row min-h-screen">
        <div class="flex flex-col items-center justify-center px-8 py-8 w-full mx-auto max-w-4xl">
            {% include 'component/messages.html' %}

            <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg p-6 mb-8 w-full">
                <div class="flex flex-col items-center">
                    <!-- Avatar -->
                    {% if profile.avatar %}
                        <div class="mb-4">
                            <img class="rounded-full w-64 h-64 object-cover border-4 border-primary-700 shadow-lg"
                                 src="{{ profile.avatar.url }}" alt="avatar">
                        </div>
                    {% endif %}

                    <!-- Profile Info -->
                    <h1 class="text-3xl font-bold text-primary-800">{{ profile.user.get_full_name }}</h1>
                    <span class="mt-4 text-gray-700 text-3xl">Bio:</span>
                    <p class="mt-4 text-lg text-gray-700">{{ profile.bio }}</p>

                    <!-- Follow/Unfollow Button -->
                    {% if request.user.is_authenticated %}
                        {% if not request.user == profile.user %}
                            <form method="post" action="">
                                {% csrf_token %}
                                {% if request.user in profile.followers.all %}
                                    <button type="submit" name="action" value="unfollow"
                                            class="mt-4 px-4 py-2 bg-gray-700 text-white rounded-lg hover:bg-gray-900">
                                        Unfollow
                                    </button>
                                {% else %}
                                    <button type="submit" name="action" value="follow"
                                            class="mt-4 px-4 py-2 bg-primary-700 text-white rounded-lg hover:bg-primary-900">
                                        Follow
                                    </button>
                                {% endif %}
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <!-- Display posts in a grid layout -->
            <div class="w-full mt-8">
                <h2 class="text-2xl font-bold mb-4 text-primary-800">Posts</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                    {% for post in posts %}
                        <div class="bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden">
                            {% if post.featured_image %}
                                <img class="w-24 h-24 object-cover" src="{{ post.featured_image.url }}" alt="post image">
                            {% endif %}
                            <div class="p-4">
                                <h3 class="text-lg font-semibold text-primary-800">{{ post.title }}</h3>
                                <p class="text-gray-700 mt-2">{{ post.content|slice:":100" }}...</p>
                                <a href="{% url 'posts:other_user_detail_post' post.id %}" class="text-primary-700 mt-4 inline-block">Read more</a>
                            </div>
                        </div>
                    {% empty %}
                        <p>No posts available.</p>
                    {% endfor %}
                </div>
        {% if posts %}
                <!-- Pagination controls -->
                <div class="flex justify-center mt-8">
                    <div class="pagination">
                <span class="step-links text-primary-600">
        {% if posts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ posts.previous_page_number }}">previous</a>
        {% endif %}
                    <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                    </span>

                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">next</a>
                        <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
                    </div>
                </div>
            {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}
