{% extends "_base.html" %}
{% load static %}

{% block content %}
    <div class="flex flex-col items-center justify-center px-8 py-8 mx-auto">
        <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg 
           shadow md:flex-row md:space-x-4 md:items-center hover:bg-primary-100">
            <img class="object-cover w-full rounded-t-lg h-96 
                sm:w-32 sm:h-32 md:w-48 md:h-48 lg:w-64 lg:h-64"
                 src="{% static 'images/logo.png' %}" alt="">
            <div class="flex flex-col justify-between p-4 leading-normal">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Django Twitter</h5>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Welcome to django twitter project , for
                    more info please log in</p>
            </div>
        </div>
        <a href="{% url 'profiles:login' %}" class="inline-flex items-center mt-8 px-4 py-3 text-sm font-medium text-center 
        text-white bg-primary-700 rounded-lg hover:bg-blue-600 focus:ring-4 focus:outline-none 
        focus:ring-blue-300">
            Log In
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                 fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M1 5h12m0 0L9 1m4 4L9 9"/>
            </svg>
        </a>
    </div>


{% endblock content %}